.container {
  margin-top: 40px;
  display: flex;
}


.user-info-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}


.img-container {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.user-img {
  display: inline;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.user-info-form {
  display: flex;
  flex-direction: column;
}

.addresses {
  display: flex;
  flex-direction: column;
}

.update-profile-button {
  border: none;
  outline: none;
  background: rgb(64, 162, 207);
  color: white;
  font-size: 22px;
  border-radius: 8px;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  transition: all .3s;
}

.update-profile-button:hover {
  background: #1372f3;
}

.update-profile-button-container {
  margin-bottom: 50px;
  margin-top: 30px;
}

.account-container {
  width: 50%;
  padding: 35px;
}

.accounts {
  text-align: center;
}

.account-table {
  width: 100%;
  padding: 35px;
  background: linear-gradient( to right bottom, #30adf3, rgb(60, 200, 207));
  border-collapse: collapse;
}

.account-table td, .account-table th {
  border: 1px solid #6a88ff;
  padding: 8px;
  color: white;
}

.account-table > tr > th {
  font-weight: 500;
}

.account-table > tr  {
  text-align: center;
}

.no-photo {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
  background: black;
  color: white;
}

.btn-close {
  outline: none;
  border: none;
  background: #f85b5b;
  padding: 6px;
  border-radius: 5px;
  color: white;
  transition: all .3s;
  cursor: pointer;
}

.btn-close:hover {
  background: #f23333;
}

.btn-open {
  outline: none;
  border: none;
  background: #08d153;
  padding: 6px;
  border-radius: 5px;
  color: white;
  transition: all .3s;
  cursor: pointer;
}

.btn-open:hover {
  background: #0ea747;
}
