.header {
  background: linear-gradient( to right bottom, #1372f3, rgb(64, 162, 207)) ;
  padding: 40px;
  box-shadow: 0 8px 8px -2px lightgrey;
  width: 100%;
}

#title {
  font-size: 25px;
  color: white;
}
